*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}


img{
  max-width: 100%;
  height: auto;
}

#wrapper{
  height: 100%;
}

button{
  padding: .5em;
  width: 8em;
}

.buttons{
  text-align: center;
  margin-top: 1em;
}

#time{
  text-align: center;
  font-size: 5em;
  margin: 0;
}

#task-name{
  text-align: center;
  font-size: 1.5em;
  min-height: 1.5em;
}

dodo-list{
  width: 500px;
  margin: 0 auto;
}

